apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      containers:
      - name: nodejs-container
        image: 471112519850.dkr.ecr.ap-south-1.amazonaws.com/nodejs-app:latest
        ports:
        - containerPort: 3000
